$blueColor: #4281a4;
//reset
html,
body,
ul,
ol {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	margin: 5% 0 0 0;
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	width: 100%;
}
