$blueColor: #4281a4;

.button {
	text-decoration: none;
	padding: 1vh;
	background-color: $blueColor;
	color: white;
	border: none;
	border-radius: 16px;
	margin: 10px;
	display: inline-block;
	width: 90px;

	font: {
		size: clamp(0.5rem, 1.1rem, 2rem);
		weight: 500;
	}
}

.smallerButton {
	@extend .button;
	font-size: 0.7rem;
	margin-bottom: 20px;
}
.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
