@import 'reset';
$blueColor: #4281a4;

html {
	width: 100%;
	height: 100%;
}
.App {
	box-sizing: border-box;
	text-align: center;
	font: 'Quicksand', sans-serif;
	width: 100%;
}

.welcome {
	width: 100%;
	margin: 25vh auto 0;
	text-align: center;

	h1 {
		font-size: clamp(20%, 4rem, 5rem);
		letter-spacing: 0.5vw;
	}
	.link {
		font: {
			size: clamp(0.5rem, 1.1rem, 2rem);
			weight: 500;
		}
		display: block;
		margin: 3vh auto 0;
		align-items: center;
		width: clamp(150px, 8vw, 15vw);
	}
}
.login {
	margin: 5% auto 0;
	width: 50%;
	height: 80vh;
	h1 {
		font-size: clamp(15%, 2.5rem, 4rem);
		letter-spacing: 0.7rem;
	}
	form {
		display: block;
		border-radius: 16px;
		width: 70%;
		margin: 0 auto;
		height: 60%;
		padding-top: 10%;
		box-shadow: 0 12px 16px 0 $blueColor, 0 17px 50px 0 $blueColor;
		label {
			font-size: clamp(20px, 0.3rem, 1.5rem);
			margin: 30px 15px 0 0;
		}
		input {
			margin: 5%;
			width: clamp(20px, 170px, 200px);
		}
		button {
			width: clamp(150px, 8vw, 15vw);
			margin: 15% 0 0 0;
		}
	}
}
.register {
	@extend .login;
	form {
		input {
			margin: 4%;
		}
		button {
			margin-top: 10%;
		}
	}
}
.dashboard {
	h1 {
		font-size: clamp(20%, 4rem, 5rem);
		letter-spacing: 0.5rem;
	}
	button {
		margin: 0 10px 20px 10px;
	}
	img {
		width: 180px;
	}
}
.library {
	h1 {
		font-size: clamp(20%, 4rem, 5rem);
		letter-spacing: 0.5rem;
	}
	button {
		margin: 0 10px 20px 10px;
	}
	.book {
		.cover {
			height: 140px;
		}
		h4 {
			margin: 0;
		}

		display: grid;
		width: 60%;
		height: 100%;
		border: 1px solid black;
		font-size: 0.8rem;
		margin: 50px auto 0;
		grid-template-columns: 1fr 180px 5fr 3fr;
		grid-template-rows: [top-margin] 30px [cover-start]70px [cover-end]70px [bottom-margin]30px;
		grid-template-areas:
			'. . . .'
			'. . info button'
			'. cover edit edit'
			'footer footer footer footer';
	}
	.item-a {
		grid-area: cover;
		grid-row-start: cover-start;
		grid-row-end: 3;
	}
	.item-b {
		grid-area: info;
		text-align: left;
	}
	.item-c {
		grid-area: button;
		grid-row-start: cover-start;
		grid-row-end: 3;
	}
	.item-d {
		grid-area: edit;
		grid-column-start: 3;
		grid-column-end: 4;
		display: block;
		text-align: left;
		form {
			display: grid;
			height: 80px;
			width: 600px;
			grid-template-columns: 1fr 3fr [saveEdit]1fr;
			grid-template-rows: 2fr 2fr;
			grid-template-areas:
				'label1 input1 save'
				'label2 input2 .';
		}
	}
	.item-label1 {
		grid-area: label1;
	}
	.item-label2 {
		grid-area: label2;
	}
	.item-input1 {
		grid-area: input1;
	}
	.item-input2 {
		grid-area: input2;
	}
	.item-saveEdit {
		grid-area: save;
		width: 70px;
		height: 30px;
		margin: 0;
	}
}
.errorMessage {
	display: inline;
	color: red;
	font-size: 1.25rem;
}

.button {
	text-decoration: none;
	padding: 1vh;
	background-color: $blueColor;
	color: white;
	border-radius: 16px;
}
.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 325px) {
	.welcome {
		h1 {
			width: 100%;
			font-size: 40px;
		}
		align-items: center;
		margin: 20vh auto 0;
	}
	.login {
		width: 100%;
		input {
			width: 50px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.login {
		width: 90%;
		margin: 10% auto 0;
		input {
			width: 50px;
		}
		.book {
			width: 100%;
			height: 100%;
		}
	}
}
